# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore: workflow"
    labels:
      - "workflow"
      - "dependencies"
    reviewers:
      - "block-wallet/devopsreviewers"
updates:
  - package-ecosystem: "npm" 
    directory: "/" 
    schedule:
      interval: "daily"
      time: "14:00"
    commit-message:
      prefix: "chore: npm"
    labels:
      - "npm"
      - "dependencies"
      
